.about {
  min-height: 100vh;
  padding-bottom: 50px;
}

.about-title {
  text-align: center;
  font-size: 48px;
  padding-top: 50px;
  color: black;
}

p {
  text-align: center;
}

.personal-photo {
  width: 100%;
  height: auto;
  max-height: 300px;
}

.card {
  display: flex;
  color: black;
  align-items: center;
  margin: 50px 300px;
  font-size: 22px;
  font-family: "Futura Std", sans-serif;
  height: auto;
  justify-content: center;
  gap: 16px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 10px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 50px;
  overflow: hidden;
  backdrop-filter: blur(6px);
}

.text-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1600px) {
  .card {
    font-size: 24px;
    margin: 50px 200px;
  }
}

@media (max-width: 1165px) {
  .card {
    font-size: 20px;
    margin: 50px 150px;
  }
}

@media (max-width: 850px) {
  .card {
    margin: 50px 100px;
  }
}

@media (max-width: 768px) {
  .card {
    margin: 50px 50px;
  }
}

@media (max-width: 640px) {
  .card {
    flex-direction: column;
    font-size: 14px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 100px);
    margin: 30px 30px;
    padding: 20px;
  }

  .about-title {
    padding-top: 30px;
    font-size: 32px;
  }

  .personal-photo {
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
  }
}
