.footer {
    width: 100%;
    background-color: #333; 
    color: white;
    padding: 1rem 0;
    text-align: center;
    font-family: "Futura Std", sans-serif;
  }
  
  .footer-text {
    font-size: 0.9rem;
    margin-top: 0;
  }

  .scroll-to-top{
    background-color: #333;
    border: none;
    color: #f1c40f;
    text-align: center;
    cursor: pointer; 
  }
  
  .scroll-to-top:hover {
    color: #f0a500; 
  }